@page "/chat"
@page "/chat/{Id:int}"


<PageTitle>Chat Page</PageTitle>




<div class="main" style="position:absolute;width: 80vw;height: 85vh;display: flex;flex-direction: column;justify-content: space-between;">
    
     @if(!@ListOfMessages.Any()){
         <br />
             <h5 class="card-subtitle mb-2 text-muted">Start chatting with @Id!</h5>
        }
        else{
             <div class="card" style="border-radius:10px;width: 18rem;max-height: 65vh;overflow-y: auto;position:relative;bottom:0;">
      
        <div class="card-body">
             @foreach (var message in ListOfMessages)
       {
               <p class="card-text" style="display:flex;flex-direction:column;">
                   @message
                   <em style="font-size:10px;">@DateTime.Now.ToShortTimeString()</em>
               </p>
               
       }
       </div>
        </div>
        }

      
    <div class="card" style="width: 59vw;position: relative;">
        <div @onkeydown="EnterPressed" class="card-body" style="display:flex; justify-content:space-between;">
            
            <textarea  @bind="ChatInput" style="width:50vw;border-radius:10px;"/>
            <button @onclick="SendMessage" class="btn btn-primary" style="margin:5px;">Send</button>
        </div>
    
    </div>
</div>



@code {
    [Parameter]
    public int Id { get; set; }
    private string FirstName { get; set; }

    private string ChatInput { get; set; }
    private List<string> ListOfMessages = new List<string>();
    private void SendMessage()
    {
        if (!string.IsNullOrWhiteSpace(ChatInput))
        {
            ListOfMessages.Add(ChatInput);
            ChatInput = string.Empty;
        }
    }
    private void EnterPressed(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            SendMessage();
        }
    }

}
