@page "/chat"
@page "/chat/{Id:int}"

<PageTitle>Chat Page</PageTitle>




<div class="main" >
    
     @if(!@ListOfMessages.Any()){
         <br />
             <h5 class="card-subtitle mb-2 text-muted">Start chatting with @Id!</h5>
        }
        else{
             <div class="card card-else" >
      
        <div class="card-body">
             @foreach (var message in ListOfMessages)
       {
               <p class="card-text message-text">
                   @message
                   <em>@DateTime.Now.ToShortTimeString()</em>
               </p>
               
       }
       </div>
        </div>
        }

      
    <div class="card input-card">
        <div class="card-body input-card-body">
            
            <textarea @bind="ChatInput"/>
            <button @onclick="SendMessage" class="btn btn-primary send-button">Send</button>
        </div>
    
    </div>
</div>



@code {
    [Parameter]
    public int Id { get; set; }
    private string FirstName { get; set; }

    private string ChatInput { get; set; }
    private List<string> ListOfMessages = new List<string>();
    private void SendMessage()
    {
        if (!string.IsNullOrWhiteSpace(ChatInput))
        {
            ListOfMessages.Add(ChatInput);
            ChatInput = string.Empty;
        }
    }
    

}
