@page "/contacts"
@using BlazorChat.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Contacts</PageTitle>


<h3>This table is from API:</h3><br />
<UserList />
@code {
    

    private void NavigateToChat()
    {
        NavigationManager.NavigateTo("/chat");
    }
}
